* {
    color: #c0cedb;
}


body {
    background-color: #98c9c9;  
}

header {
    background-color: #004c8b;
}

nav {
    background-color: #003366;
}

.menu-button {
    background-color: #003366;
}

.horizontal-button:hover {
    background-color: #003366;
}

.burger-button:hover {
    color: #54559b;
}

.vertical-button:hover {
    background-color: #003366;
}

.page-container {
    background-color: #003366;
}

.titre-acceuil {
    background-color: #001F3F;
}

.comment-section {
    background-color: #001F3F;
}

.comment-list {
    border-color: #003366;
}

.comment-list .comment {
    border-color: #003366;
}

.submit-comment {
    background-color: #003366;
}

.submit-comment:hover{
    background-color: #98c9c9;
    color: #003366;
}